/* -------------------- SHARED STYLE -------------------- */
@media (max-width: 415px) {
  .main-header__brand {
    margin-left: 1.5rem;
  }

  .main-header__icon {
    margin-right: 1.5rem;
  }
}

@media (min-width: 980px) {
  .main-header__navigation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-right: 4rem;
    list-style-type: none;
  }

  .main-header__icon {
    display: none;
  }
}

@media (min-width: 600px) {
  .footer-section__items-wrapper {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }

  .footer-section__items-wrapper__item:nth-of-type(2),
  .footer-section__items-wrapper__item:nth-of-type(3),
  .footer-section__items-wrapper__item:nth-of-type(4) {
    display: block;
  }
}

@media (min-width: 900px) {
  .footer-section__items-wrapper {
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
  }

  .footer-section__items-wrapper__item:nth-of-type(2),
  .footer-section__items-wrapper__item:nth-of-type(3),
  .footer-section__items-wrapper__item:nth-of-type(4) {
    display: block;
  }
}